<div class="login">
    <p class="login__title">Welcome Back!</p>
    <form [formGroup]="createForm" class="login__form">
        <div class="form__inputs">
            <app-auth-input 
                [label]="'Username'" 
                [type]="'text'" 
                [formControlName]="'username'"
                [error]="createForm.controls['username'].invalid && createForm.controls['username'].dirty"
            >
            </app-auth-input>
            <app-auth-input 
                [label]="'Password'" 
                [type]="'password'" 
                [formControlName]="'password'"
                [error]="createForm.controls['password'].invalid && createForm.controls['password'].dirty"
            >
            </app-auth-input>
        </div>
        <app-auth-button [disabled]="isLoading" [type]="'Login'" (clicked)="submit()"></app-auth-button>
    </form>
    <p class="login__offer" (click)="navigate()">Dont you have an account?</p>
</div>
